## Variables

1) Crear una variable que contenga un elemento del conjunto de números enteros y luego imprimir por pantalla

In [1]:
a= int(1)
print(a)

1

2) Imprimir el tipo de dato de la constante 8.5

In [2]:
type(8.5)

float

3) Imprimir el tipo de dato de la variable creada en el punto 1

In [3]:
type(a)

int

4) Crear una variable que contenga tu nombre

In [5]:
b="andres jacob rodriguez orjuela"

5) Crear una variable que contenga un número complejo

In [6]:
c=2+2j

6) Mostrar el tipo de dato de la variable crada en el punto 5

In [7]:
type(c)

complex

7) Crear una variable que contenga el valor del número Pi redondeado a 4 decimales

In [8]:
pi=3,1416

8) Crear una variable que contenga el valor 'True' y otra que contenga el valor True. ¿Se trata de lo mismo?

In [9]:
d='True'
e=True

9) Imprimir el tipo de dato correspondientes a las variables creadas en el punto 8

In [13]:
print('la varible 1 tine un tipo ',type(d),'la varible 2 tien un tipo ',type(e))

la varible 1 tine un tipo  <class 'str'> la varible 2 tien un tipo  <class 'bool'>

10) Asignar a una variable, la suma de un número entero y otro decimal

In [21]:
f=3+3.2
f

6.2

11) Realizar una operación de suma de números complejos

In [22]:
sum_com=(3+5j)+(1+1j)
sum_com

(4+6j)

12) Realizar una operación de suma de un número real y otro complejo

In [23]:
sum_comreal=3+(3+1j)
sum_comreal

(6+1j)

13) Realizar una operación de multiplicación

In [24]:
mul=3*3
mul

9

14) Mostrar el resultado de elevar 2 a la octava potencia

In [25]:
elv=2**8
elv

256

15) Obtener el cociente de la división de 27 entre 4 en una variable y luego mostrarla

In [31]:
x=(27/4)
print(x)

6.75

16) De la división anterior solamente mostrar la parte entera

In [32]:
y=27//4
y

6

17) De la división de 27 entre 4 mostrar solamente el resto

In [35]:
z=27 % 4
z

3

18) Utilizando como operandos el número 4 y los resultados obtenidos en los puntos 16 y 17. Obtener 27 como resultado

In [37]:
print(6*4+3)

27

19) Utilizar el operador "+" en una operación donde intervengan solo variables alfanuméricas

In [1]:
p1="hola "
p2="mundo"
p3 = p1 +p2
print(p3)

hola mundo

20) Evaluar si "2" es igual a 2. ¿Por qué ocurre eso?

In [2]:
print("2"==2)

False

21) Utilizar las funciones de cambio de tipo de dato, para que la validación del punto 20 resulte verdadera

In [3]:
print(2==int(2))

True

22) ¿Por qué arroja error el siguiente cambio de tipo de datos? a = float('3,8')

In [6]:
a = float('3,8')
print(a)

ValueError: could not convert string to float: '3,8'

23) Crear una variable con el valor 3, y utilizar el operador '-=' para modificar su contenido y que de como resultado 2.

In [9]:
a=3
a-=1
print(a)

2

24) Realizar la operacion 1 << 2 ¿Por qué da ese resultado? ¿Qué es el sistema de numeración binario?

In [10]:
1<<2

4

25) Realizar la operación 2 + '2' ¿Por qué no está permitido? ¿Si los dos operandos serían del mismo tipo, siempre arrojaría el mismo resultado?

In [11]:
2 +'2'

TypeError: unsupported operand type(s) for +: 'int' and 'str'

26) Realizar una operación válida entre valores de tipo entero y string

In [16]:
print("hola mundo "*3+ " se repite" 
      +str(3)+ ' veces')

hola mundo hola mundo hola mundo  se repite3 veces